/* Add styles for the navbar */
.navbar {
    background-color: #e9edff;
    color: #27187E;
    padding: 10px 0;
  }
  
  
  /* Add styles for the logo and text */
  .navbar .mantine-image {
    max-width: 40px;
  }
  
  .navbar .mantine-text {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Adjust styles for small screens */
  @media (max-width: 600px) {
    .navbar .mantine-text {
      font-size: 14px;
    }
  }
  